section{
    position: relative;
    height: 600px;
    width: 800px;
    background-color: #101010;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;
}
#papiers{
	position: absolute;
	top: 320px;
	left: 520px;
}
#porte{
	position: absolute;
	top: 0px;
	left: 150px;
}